/* styles.css */
* { box-sizing: border-box; } 
html, body, .wrapper { height: 100%; }

@keyframes rotate {
    100% { background-position: 0% 50%; }
}

html,
body {
  height: 100%;
}

body {
  display: grid; 
  place-items: center;
  margin: 0; 
  background-image: url("../svg/dragon-scales.svg"); 
  background-repeat: no-repeat; 
  background-size: cover; 
  font-family: Poppins;
  color: #3a334e;
  animation: rotate 10s infinite alternate linear;
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
}



.card {
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 0 10px;
  padding: 40px 15px 20px;
  border-radius: 1.25rem;
  background: #fff;
  text-align: center;
  box-shadow: 0 100px 100px rgba(195, 138, 218, 0.1);
}



@media (width >= 500px) {
  .card {
    margin: 0;
    width: 360px;
  }
}

.card .logo {
  position: absolute;
  top: 30px;
  left: 50%;
  translate: -50% 0;
  width: 64px;
  height: 64px;
}

.card > h2 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 30px;
  color: #442a2a;
}

.form {
  margin: 0 0 36px;
  display: grid;
  gap: 16px;
}

.form > input,
.form > button {
  width: 100%;
  height: 56px;
  border-radius: 28px;
}

.form > input {
  border: 2px solid #ebebeb;
  font-family: inherit;
  font-size: 16px;
  padding: 0 24px;
  color: #11274c;
}

.form > input::placeholder {
  color: #cac8c8;
}

.form > button {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #703eff;
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

.card > footer {
  color: #a1a1a1;
}

.card > footer > a {
  color:#703eff;
}
