/* General Profile Styling */
.profile {
    text-align: center;
    margin: 30px auto;
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    position: relative;
}

/* Profile Image Styling */
.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
    position: relative;
    border: 1px solid #2122217c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tooltip Container Styling */
.tooltip-container {
    font-size: 18px;
    color: #333;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 160px; /* Ajusta según el tamaño de la imagen */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.tooltip-container.show-tooltip {
    opacity: 1;
    visibility: visible;
}

/* Icons Container Styling */
.icons {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Icon Styling */
.icons .icon {
    font-size: 36px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s, color 0.3s;
    color: #527c04;
    outline: none; /* Elimina el contorno del enfoque */
    border: none; /* Asegura que no haya borde alrededor del ícono */
    box-shadow: none; 
}
.icons .icon:focus {
    outline: none; /* Asegura que no haya contorno al hacer clic */
    border: none; /* Asegura que no haya borde al hacer clic */
    box-shadow: none; /* Asegura que no haya sombra al hacer clic */
}
