
.carousel-item img {
  object-fit: cover;
  height: 60vh;
  width: auto; /* Mantener la relación de aspecto */
  margin: 0 auto; /* Centrar horizontalmente */
}
.carousel-caption {
  bottom: 20px; /* Ajustar la posición del texto */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Cambia esto al color que prefieras */
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.product-card {
  border: 1px solid #ddd;
  border-radius: .25rem;
  padding: 1rem;
  text-align: center;
}
.product-card img {
  max-height: 200px;
  object-fit: cover;
}
.product-card h5 {
  margin: 1rem 0 .5rem;
}
.product-card p {
  margin-bottom: .5rem;
}
.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  text-align: center;
}

.fade-in {
  display: none;
}