/* Estilos para la página del carrito */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease-out;
}

/* Estilos para el carrito */
.contenedor-carrito {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
}

.item-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.item-carrito img {
    max-width: 50px;
    margin-right: 1em;
}

.item-carrito span {
    flex: 1;
}

.subtotal {
    font-weight: bold;
    margin-top: 1em;
}

#boton-pago {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1em;
}

#boton-pago:hover {
    background-color: #e6b800;
}
