/* Estilos para la página de ofertas */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out;
}

/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

main {
  padding: 2em;
}

.offers, .discounts {
  margin-bottom: 2em;
}

h2 {
  color: #e60000;
  margin-bottom: 1em;
}

.offer-container, .discount-container {
  display: flex;
  gap: 1em;
}

.offer, .discount {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el espacio entre elementos */
}

.offer img, .discount img {
  max-width: 100%;
  width: 250px; /* Ajusta el ancho deseado */
  height: 150px; /* Ajusta la altura deseada */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.buttons {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin-top: 1em;
}

.details-button, .cart-button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
}

.details-button:hover, .cart-button:hover {
  background-color: #333;
}

.cart-button img {
  width: 34px;
  height: auto;
}
.cart-button {
  position: relative;
  z-index: 10; /* Ajusta según sea necesario */
}



.discount span {
  display: block;
  color: red;
  font-weight: bold;
  margin: 0.5em 0;
}

/* Modal Styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


